html {
    height: 100%;
}

body {
    max-width: 100%;
    margin: 0;
    color: white;
    font-family: monospace;
    width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 22px;
}

h3 {
    color: lightgrey;
}

h6 {
    color: silver;
}

table {
    width: 100%;
}

a {
    font-size: 20px;
    color: lightcyan;
}

td {
    text-align: center;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    
    /* Get rid of default border in Firefox. */
    border: none;
    
    /* Dimensions */
    width: 250px;
    height: 20px;
    background-color: gray;

    /* ie */
    color: red; 
}  

/* firefox */
progress::-moz-progress-bar { background: red; }
/* chrome */
progress::-webkit-progress-value { background: red; }

.formating {
    border: 1px solid darkgrey;
    padding: 5px;
}

.centerHorizontal {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    text-align: center;
}

.centerVertical {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.textfield {
    padding: 10px;
    border: 3px solid white;
    background-color: black;
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 35px;
    transition: all 0.15s ease;
}

.textToType {
    font-size: 35px;
    margin: 10px;
}
.button{
    margin-top: 6px;
}
.button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.screen {
    background-color: black;
    padding: 22px;
}

.spacer{
    height: 5%;
}

#boss{
    width: 540px;
    height: 405px;
}